body {
    padding-top: 50px;
    padding-bottom: 20px;
    //background: #660000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #f1f1f1;
    padding: 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* this is for badge details */
.badge-image {
    max-height: 100%; 
    max-width: 100%;
}
.badge-details{
    margin-top: 50px !important; 
    padding: 50px !important;
}

/*
    the following styling is for badge's gri view
*/
.badge-item {
    padding: 10px;
}

.badge-item-content {
    padding: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.badge-item-content:hover{
    cursor: pointer; 
} 
.badge-item-image {
    height: 120px;
    width: 100%;
    padding-top: 10px;
}
.image{
    height: 95px;
    width: 100%;
}

/*
    this if for admin welcome page
*/
.activity-item {
    padding: 15px;
    text-align: center;
    height: 50px;
}
.activity-item-content{
    width: 100%;
    margin: auto;
    height: 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
