@model GST_Badge_System.Model.BadgeTransaction

<div class="badge-item col-xs-2">
    <div class="badge-item-content btn-default">
        <div class="badge-item-image">
            <img class="image" src='@Model.Badge.Badge_Image' />
        </div>
        <div class="badge-name">
            @Model.Badge.Badge_Name
        </div>
    </div>
</div>

