<div class="badge-item col-xs-2">
    <div class="badge-item-content btn-default">
        <div class="badge-item-image">
            <img class="image" src='http://www.oc.edu/academics/graduate/theology/images/digital-badge-images/student-peer-badges/animated-gifs/101%20Thumbs%20Up.gif' />
        </div>
        <div class="badge-name">
            Thumps Up!
        </div>
    </div>
</div>
