
@{
    ViewBag.Title = "Index";
}

<h2>Current Badge Bank</h2>
<a>
    @Html.ActionLink("Create New", "Create")
</a>
<div>
    <table class="table-striped table-hover row-border" id="badgesTable">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Give Type</th>
                <th>Current Status</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#badgesTable").DataTable({
                "ajax": {
                    "url": "/Badges/LoadBadgesData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "BadgeType_Object.BT_Name", "autoWidth": true, "bSortable": true, "bSearchable": true },
                    { "data": "Badge_Name", "autoWidth": true, "bSortable": true, "bSearchable": true },
                    { "data": "BadgeGiveType_Object.BGT_Name", "autoWidth": true, "bSortable": true, "bSearchable": true },
                    { "data": "Badge_Status.BS_Name", "autoWidth": true, "bSortable": false, "bSearchable": true },
                    { "data": "Badge_Descript", "autoWidth": true, "bSortable": false, "bSearchable": false, "width": "30%" },

                    {
                        "mData": "Badge_Id",
                        "bSearchable": false,
                        "bSortable": false,
                        "mRender": function (data, type, full) {
                            return '<a href=' + '@Url.Action("Edit", "Badges")?ID=' + data + '>Edit</a>'
                                    + ' | <a href=' + '@Url.Action("Details", "Badges")?ID=' + data + '>Details</a>'
                                    + ' | <a href=' + '@Url.Action("Delete", "Badges")?ID=' + data + '>Delete</a>';
                        }
                    }
                ]
            });
        });
    </script>
}

